/* footer */

.icon-footer{
    width: 16px;
    height: 16px;
    margin:10px;
}
.icon-footer:hover{
    width: 18px;
    height: 18px;
    margin: 9px;
}
.container-footer{ 
    color: black;
    letter-spacing: 2px;
    padding-top: 8%;
    padding-bottom: 8%;
    font-size: larger;
    text-align:center;
}
.footer-zone{
    background-color: rgb(253, 245, 234); 
    margin-top:200px;
}


.container-footer a{
    text-decoration:underline;
    color:black;
}

.container-footer a:hover{
    font-size: x-large;
    text-decoration: underline;
    color:black;
}

/* flip image contact */


  iframe{
    border-radius: 10px;
    border: 0px;
  }
  .card-container {
    perspective: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 50px;
  }
  
  .card {
    width: clamp(450px,500px,70%);
    height: 333px;
    background-size: auto;
    transform-style: preserve-3d;
    transition: transform 0.5s;
    box-shadow: 50px rgb(3, 3, 3);
    cursor: pointer;
    margin: 2%;
    border: 0px;
    transition: all 2s;
  }
  
  .flipped {
    transform: rotateY(180deg);
  }
  
  .card-face {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
  }
  
  .front-face {
    display: flex;
    flex-direction: column;
}
.box img{
    box-shadow: 5px grey;
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(105, 102, 102, 0.734);
    border-radius: 10px;
    border: 1px solid rgb(254, 254, 254);
}
  .front-face h1,p{
    color: rgb(5, 5, 4);
    letter-spacing: 3px;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
  .front-face:hover {
    animation: alive 2s infinite;
  }
  
  @keyframes alive {
      50%{
          transform: translateY(-15px);
      }
  }
  
  .back-face {
    background-color: rgb(225, 221, 216);
    transform: rotateY(180deg);
    color: black;
    align-items:  center;
    justify-content: center;
    text-align: center;
    z-index: 0;
    height: 100%;
    box-shadow: 0 4px 30px rgba(105, 102, 102, 0.734);
    border-radius: 10px;
    border: 1px solid rgb(254, 254, 254);
  }